name: Latest blog post workflow
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          # Usando tu URL específica de RSS
          feed_list: "https://www.danywalls.com/rss.xml"
          max_post_count: 5
          # Formato: Título del artículo con link y la fecha al lado
          template: "- [$title]($url) — *$date*"
          date_format: "mmm d, yyyy"
